*, 
*::before, 
*::after,
body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

.container {
    background-color: #eee;
    width: 70%;
    height: 100vh;
    margin: 20px auto;
}

.verse {
    display: -ms-flexbox;
    display: flex;
    padding: 15px 20px;
    margin-bottom: 15px;
}

.song-title {
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ddd;
    letter-spacing: 10px;
    line-height: 1.5rem;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.song-text {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
    text-align: center;
}

